.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 600px;
  margin: 0 auto; /* Центрує форму по горизонталі */
}

.label {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.input {
  padding: 12px; /* Збільшує padding всередині інпутів */
  margin-top: 4px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px; /* Збільшує шрифт всередині інпутів */
  box-sizing: border-box;
  width: 100%; /* Займає всю доступну ширину контейнера */
}

.button {
  padding: 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  text-align: center; /* Центрує текст всередині кнопки */
  align-self: center; /* Центрує кнопку по горизонталі */
  width: 100%; /* Розтягує кнопку на всю ширину контейнера */
  max-width: 200px; /* Обмежує максимальну ширину кнопки */
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #06478b;
  color: white;
}

.errorText {
  font-size: 11px;
  color: #ff0000;
  margin-top: 5px;
  background-color: antiquewhite;
  border-radius: 5px;
  display: inline-block;
  padding: 5px;
}

.button:disabled {
  background-color: #d3d3d3; /* Серый цвет для неактивной кнопки */
  cursor: not-allowed; /* Отключаем изменение курсора */
  color: #a9a9a9; /* Цвет текста на неактивной кнопке */
  pointer-events: none; /* Отключаем любые события клика */
}
