.contact {
  display: flex;
  justify-content: space-between; /* Розміщення елементів зліва і справа */
  align-items: center; /* Вертикальне вирівнювання */
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px; /* Відступ між контактами */
  width: 100%; /* Щоб контакт займав всю доступну ширину контейнера */
  box-sizing: border-box; /* Включає padding і border в ширину і висоту */
}

.contactText {
  flex: 1; /* Текст займає всю доступну ширину, залишаючи місце для кнопки справа */
}

button {
  background-color: transparent;
  border: none;
  color: red;
  cursor: pointer;
}

button:hover {
  color: darkred;
}
