.button {
  background-color: rgb(181, 184, 183);
  border: none;
  transition: 250ms ease-in;
  max-width: 150px;
  margin: 0 auto;
}

.button:hover {
  background-color: rgba(204, 208, 208, 0.963);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 400px;
  margin: 20px auto;
}

input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.error {
  border-color: red;
}

.errorMessage {
  color: red;
  font-size: 12px;
}
