.contactForm {
  display: flex;
  flex-direction: column;
  gap: 15px; /* Отступы между полями формы и кнопкой */
  width: 100%; /* Занимает всю доступную ширину контейнера */
  padding: 20px; /* Добавляем padding для более приятного отображения */
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Добавляем небольшую тень */
  box-sizing: border-box; /* Учитываем padding и border в ширину и высоту */
  margin-top: 20px; /* Добавляем отступ сверху */
}

.contactForm button {
  align-self: center; /* Центрирует кнопку по горизонтали */
}

label {
  display: flex;
  flex-direction: column; /* Размещение инпута под лейблом */
}

input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  padding: 10px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #06478b;
}

.error {
  border-color: red;
}

.errorMessage {
  color: red;
  font-size: 12px;
}
