.contactList {
  list-style: none;
  padding: 0;
  max-width: 400px; /* Збільшена максимальна ширина контейнера */
  margin: 20px auto;
}

.contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  width: 100%;
}

button {
  background-color: transparent;
  border: none;
  color: red;
  cursor: pointer;
  padding: 5px;
}

button:hover {
  color: darkred;
}
.contactListItem {
  display: flex;
  justify-content: space-between; /* Розміщує елементи з простором між ними */
  align-items: center;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px; /* Відступ між контактами */
}

.contactListButton {
  /* Специфічний клас для кнопок у списку контактів */
  margin: 0; /* Видалити верхній відступ */
}
